<div class="container">
	<h1>My Account</h1>
	<p><%= user.firstName %> <%= user.lastName %></p>
	<p><%= user.id %></p>
	<p><%= user.email %></p>
	<h2>My Rooms</h2>
	<ul>
		<% for(var i=0; i<user.rooms.length; i++) { %>
			<li><a href="/chatroom/show/<%= user.rooms[i].id %>">
				<%= user.rooms[i].name %></a>
			</li>
		<% } %>
		<% for(var i=0; i<user.allowedRooms.length; i++) { %>
			<li><a href="/chatroom/show/<%= user.allowedRooms[i].id %>">
				<%= user.allowedRooms[i].name %></a>
			</li>
		<% } %>
	</ul>
	<form action="/chatroom/create" method="POST">
		<input type="hidden" name="owner" value=<%= user.id %>>
		<input type="text" name="name">
		<input type="text" name="headline">
		<button type="submit" class="btn btn-default">Create chat</button>
	</form>
</div>